//**************************************************************************************************************************************************
// import settings =========================================================================================================================
@import "./functions/settings";
// adding mixins ===========================================================================================================================================================================================================================================================================
//@import "./functions/mixins";
// adding null ============================================================================================================================
@import "null";
//*********************************************************************************************************************************************


//breakpoints for a structure to work better not to touch

//$pc: em($wrapperWidth); // for PC,laptop
//$tablet: em(991.98); // for tablet
//$mobile: em(767.98); // for phones size L
//$mobileSmall: em(479.98); // for phones size S


// wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
:root {
  //text and others
  --main-text-color: #FFFFFF;
  --sub-text-color: rgba(255, 255, 255, 0.8);
  --placeholder-color: rgba(169, 84, 253, 0.56);
  --input-text-color: #A954FD;
  --typing-animation-sub-color: rgba(82, 255, 99, 1);
  --input-border-bottom: rgba(217, 217, 217, 0.49);
  --text-shadow: rgba(255, 255, 255, 0.25);
  --text-shadow-dark: rgba(0, 0, 0, 0.25);
  --separator-color: rgba(155, 139, 188, 0.2);
  --btn-border-color: rgba(255, 255, 255, 0.49);
  --separator-result-menu: rgba(84, 51, 125, 1);
  --result-menu-btn-text: #A954FD;
  --correct-answer: #96FD94;
  --fail-answer: #FF6565;
  //backgrounds
  --sub-background: white;
  --header-color: linear-gradient(349.08deg, #b963e8 7.62%, #9bef47 91.55%);
  --game-cell-bg-color: linear-gradient(268.07deg, #0e6d01 12.96%, rgba(86, 179, 75, 0.8) 97.1%);
  --header-shadow-color: #300F4A;
  --toggle-btn: #6a1394;
  --toggle-btn-shadow: #ffffff;
  --typing-animation-color: #d3c1f1;
  --auth-form-bg-color: linear-gradient(179.5deg, #4ad445 0.43%, rgba(66, 154, 60, 0.32) 95.39%);
  --auth-form-btn-color: rgba(86, 43, 150, 0.71);
  --default-menu-bg-color: #100022;
  --progress-bar-color: rgba(255, 255, 255, 0.86);
  --progress-bar-fill-color: #6f11a8;
  --result-menu-header: #EED9F8;
  --result-btn-success: linear-gradient(255.8deg, rgb(17, 173, 33) 0%, rgba(32, 180, 19, 0.3) 100%);
  --result-btn-initial: linear-gradient(255.8deg, rgb(115, 17, 173) 0%, rgba(119, 19, 180, 0.3) 100%);
  --result-btn-fail: linear-gradient(255.8deg, rgb(173, 17, 30) 0%, rgba(180, 19, 19, 0.3) 100%);
  --game-menu-bg: linear-gradient(121.57deg, #1f0031 49.39%, #150024 50.22%);
  --restart-game-btn: #7713B4;
  --auth-form-btn-color-clicked: rgba(86, 43, 150, 0.71);

  //hovers
  --hover1-color: rgba(255, 255, 255, 0.1);
  --hover2-color: linear-gradient(349.08deg, rgba(92, 7, 123, 0.22) 7.62%, rgba(60, 2, 139, 0.14) 91.55%);

}

body {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}


.MainWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  ///////////////
  //scroll-snap-type: y proximity;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  //scroll-behavior: smooth;
  //pressing footer to bottom

  > main {
    flex: 1 1 auto;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(113, 110, 110, 0.57);
    border-radius: 10px;
  }
}

////bounding container ======================================================================================================================================================================================================================
//
///*
//(i) Styles will be applied to
//all classes containing *__container
//For example header__container, main__container, etc.
//Snippet (HTML): cnt
//*/
//@if ($responsiveType==1) {
//  //responsive
//  [class*="__wrapper"] {
//    width: 100%;
//    height: 100%;
//    @if ($maxWidthWrapper > 0) {
//      max-width: rem($maxWidthWrapper);
//      box-sizing: border-box;
//      margin: 0 auto;
//    }
//    @if ($wrapperPadding  > 0) {
//      padding-right: rem($wrapperPadding/ 2);
//      padding-left: rem($wrapperPadding/ 2);
//    }
//  }
//} @else {
//  //by breakpoints
//  [class*="__wrapper"] {
//    margin: 0 auto;
//    @if ($maxWidthWrapper > 0) {
//      max-width: rem($maxWidthWrapper);
//      box-sizing: content-box;
//    } @else {
//      @if ($wrapperPadding>0) {
//        padding-right: rem($wrapperPadding/ 2);
//        padding-left: rem($wrapperPadding/ 2);
//      }
//    }
//    @media (max-width: $pc) {
//      max-width: rem(950);
//    }
//    @media (max-width: $tablet) {
//      max-width: rem(730);
//    }
//    @media (max-width: $mobile) {
//      max-width: none;
//      @if ($wrapperPadding>0 and $maxWidthWrapper>0) {
//        padding-right: rem($wrapperPadding/ 2);
//        padding-left: rem($wrapperPadding/ 2);
//      }
//    }
//  }
//}

